@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: #ccc;
}
header {
	width: 70%;
	margin: 25px auto;
	text-align: center;
	box-sizing: border-box;
	
}
header h1:before {
	content: "";
	width: 50px;
	height: 3px;
	background: #000;
	position: absolute;
	margin-top: 18px;
	margin-left: -60px;
}
header h1:after {
	content: "";
	width: 50px;
	height: 3px;
	background: #000;
	position: absolute;
	margin-top: 18px;
	margin-left: 8px;
}
header nav {
	margin-top: 25px;
}

header nav ul li {
	display: inline-block;
	width: 100px;
}
header nav ul li a {
	border: 1px solid #aaa;
	width: 100px;
	display: block;
	text-decoration: none;
	color: #22741D;
}



footer a:nth-child(3):after, footer a:nth-child(3):before {
	content: " | ";
	
}


header nav ul li a:hover, .current {
	background-color: #fff;
}
section {
	width: 60%;
	box-sizing: border-box;
	margin: 25px auto;
	text-align: center;
	margin-bottom: 75px;
}

section h3 {
	margin: 25px auto 10px auto;
	border-bottom: 1px solid #ccc;
}

section h4 {
	margin: 25px auto 10px auto;

}

section p {
	line-height: 1.4em;
	margin-bottom: 20px;
}


section p {
	margin-bottom:25px;
}
section li {
	margin-bottom:12px;
}
section ul li ul li {
	margin-bottom: 0;
}

section ul li {
	margin-left:35px;
}

.displayWrapper {
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	padding: 10px;
	width: 300px;
	margin: 15px;
	display: inline-block;
	background-color: #fff;
}
.displayBox {
	width: 300px;
	height: 300px;
	overflow: hidden;
}


.fullpage {
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	padding: 35px;
	width: 75%;
	max-width: 700px;
	margin: 15px 0 75px 0;
	display: inline-block;
	background-color: #fff;
	box-sizing: border-box;
	text-align: left;
}



table {
    border-collapse: collapse;
	font-size: 70%;
	text-align: center;
}
table, th, td {
   border: 1px solid #ccc;
}

td {
  padding: 2px;
}
/*table tbody:last-of-type td[rowspan]*/

.inclass, .sitin, .officehours, .preptime {
  background-color: #ffb3b3;
  font-weight: bold;
  text-align: center;
}
.officehours {
  background-color: #c6ecd9;
}
.sitin {
  background-color: #b3ccff;
}

.preptime {
   background-color: #ffe0b3;
}

section .notOneCalendar {
		font-size: 70%;
}


footer {
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	padding: 10px;
	width: 250px;
	background-color: #fff;
	position: fixed;
	bottom:0;
	left:50%;
	margin-left:-135px;
	text-align: center;
	font-size: 70%;
}

footer a, section a  {
	text-decoration: none;
	color: #22741D;
}
footer a:hover, section a:hover {
	text-decoration: underline;

}

