html{	
	overflow:scroll;
}
body	{
	margin: 0;
	padding: 0;
	border: 0;
	font: small/18px "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif; /*stole font list from zeldman.com - love it*/
	background: #FFFFFF url(bgvineLight.gif) no-repeat fixed left bottom;

	}
#allContent{
	width:800px;
	position:relative;
	left:50%;
	margin-left:-330px;
	padding:25px 25px 25px 0;
	height:100%;
	background: url(borderVert.gif) repeat-y 785px top;
}
#allContent h1 {
	
}
#allContent ul li {
	list-style-image: url(bullet.gif);
}
#allContent a{
	font-weight:bold;
	text-decoration:none;
	color:#993315;
	
}
#allContent a:hover{
	color:#e26719;
	border-bottom:1px dotted #ccc;
}

#courseNav ul{
	border-top:1px dotted #ccc;
	margin:0;
	margin-left:25px;
	padding:0;
}

#courseNav ul li{
	list-style-type:none;
	list-style-image: none;
	float:left;
}

#courseNav li a{
	display:block;
	margin: 0 5px;
	padding-top:10px;
	padding-bottom:1px; /*counteract border jump*/
	font-family:"Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif; 
	font-size:110%;
	font-style:italic;
}

#courseNav li #return{
	margin-left:50px;
} 

#courseNav li a:hover{
	padding-bottom:0; /*counteract border jump*/
}
#courseNav li a:active{
	color:#f00;
	border:0;
	border-bottom:1px dotted #ccc;
}

#course {
	margin-top:50px;
	clear:both;
	padding-right:25px;
	line-height: 1.7em;
}

#course h2{
	padding:25px 0;
	margin-right:-20px;
	background: url(bgvineh2.gif) no-repeat right center;
	vertical-align:middle;
}
#course #calendar h4 {
	margin-left: 25px;
}


#calNav #current {
	font-size:150%;
	background-color:#993315;
	color:#fff;
	border:1px dotted #ccc;
	padding:3px;
}


#footer {
	margin-top:100px;
	padding:50px 0 25px 0;
	text-align:center;
	background: url(borderHor.gif) repeat-x left top;	
}
.alert {
	color: #FF0000;
	font-weight: bold;
}
