html{	
	overflow:scroll; /*this totally breaks the in IE 5 on a mac*/
} 

body {
	background: url(bgvinetop.gif) no-repeat fixed top right;
	font: small/18px "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif; /*stole font list from zeldman.com - love it*/

}
#allContent {
	width: 80%;
	left:40%;
	top:20%;
	border: 0;
}
#allContent h1, #allContent h2{
	
}
#allContent ul {
	padding-top:50px;
}
#allContent ul li {
	list-style-image: url(bullet.gif);
}

#allContent ul li a{
	text-decoration:none;
	color:#333;
	padding:0;
	margin:5px;
}
#allContent ul li a:hover{
	border-bottom:dotted 1px #333;
}
#bug {
	width:70px;
	height:80px;
/*	background: url(bugAni.gif);*/
	background: url(Butterfly.gif);
	position:absolute;/*has to be here for movement*/
	right:330px;/*has to be here for pres - in js for behavior*/
	top:290px;/*has to be here for pres - in js for behavior*/
}


